<h1>Contact Form</h1>

<p>Please fill in all required fields. We will respond as soon as possible!</p>

<%= image_tag "contact-icon.png", :alt => "Contact Bloggy", :style =>"width:300px" %>

<div id="contact_form">
	<p>
		First name: 
		<input type="text" placeholder="John" />
	</p>

	<p>
		Last name: 
		<input type="text" placeholder="Doe" />
	</p>

	<p>
		Your email: 
		<input type="text" placeholder="johndoe@example.com" />
	</p>

	<p>
		<input type="text" placeholder="Subject (eg: Tech support)" />
	</p>

	<p>
		<textarea name="text" placeholder="Tell us what's on your mind..."/></textarea>
	</p>

	<button class="submit_button">Submit</button>
</div>

<div id="spacer"></div>


