<p id="my_first_paragraph" class="paragraph">
    Yesterday afternoon, chief executives of 12 major health insurers—including Aetna, Humana, WellPoint, and Kaiser Permanente—trudged to the White House to “discuss…ongoing implementation of the Affordable Care Act.” The meeting was off the record, but we have a pretty good idea of what happened. Insurers were likely to urge the White House to delay the implementation of Obamacare’s exchanges until the website, Healthcare.gov, gets fixed. And it appears that got their wish. Last night, the White House confirmed that it intends to delay the enforcement of the individual mandate by as much as six weeks. “The White House is meeting with insurance industry executives,” a consultant to insurers told Ezra Klein, “and I can tell you what they’re talking about. 
</p>

<a href="http://yahoo.com" target="_blank">Go to yahoo!</a>

<button class="show-me-button">Show me 1st!</button>
<button class="show-me-button">Show me 2nd!</button>
<button class="show-me-button">Show me 3rd!</button>