/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.separator2 {
	width:100%; 
	height:1px; 
	background: #999900;
	margin-top: 40px;
}