// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.paragraph {
    margin-top:30px; 
    margin-bottom:30px; 
    color:blue; 
    background-color:pink; 
    font-weight:bold;
    padding:30px;
    font-family: Georgia;
    display:none;
}